<ion-row class="ion-justify-content-between">
    <div>
        <span [style]="{color: 'red'}" class="ion-padding-end">Red: {{game.redAgents}}</span>
        <span [style]="{color: 'lightskyblue'}">Blue: {{game.blueAgents}}</span>
    </div>
    <ion-button fill="outline" color="medium" (click)="endCurrentTeamsTurn()" [disabled]="readonly">End Turn</ion-button>
</ion-row>
<ion-row>
    <ion-col size="9">
        <app-game-board
          [game]="game"
          [readonly]="readonly"
          [spymaster]="spymaster">
        </app-game-board>
    </ion-col>
    <ion-col size="3">
        <app-team-lists [game]="game"></app-team-lists>
    </ion-col>
</ion-row>
<app-clues [game]="game" *ngIf="spymaster"></app-clues>
