.score-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  app-timer {
    width: 118px;
  }
  ion-button {
    width: 110px;
  }
}

.game-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  .game-board {
    flex-grow: 4;
    margin: 0 15px;
  }

  .team-lists {
    flex-grow: 1;
    min-width: 205px;
  }

  .word-history {
    flex-grow: 1;
    width: 350px;
    max-width: 350px;
  }
}

app-chat-box {
  position: fixed;
  bottom: 0;
  right: 20px;
  z-index: 1;
}

@media (max-width: 1350px) {
  .game-row {
    padding: 0;
    margin: 0;
    border-bottom: none;

    .game-board {
      margin: 0;
    }
    .team-lists {
      min-width: 0;
    }
    .word-history {
      width: 100%;
      max-width: initial;
    }
  }
}

@media (max-width: 1040px) {
  .game-row {
    &.board-tab {
      .team-lists {
        display: none;
      }
    }
    &.teams-tab {
      .game-board,
      .word-history {
        display: none;
      }
    }
  }
}

@media (max-width: 550px) {
  .score-bar {
    app-timer,
    ion-button {
      width: initial;
    }
  }
}
