<!-- score and end turn -->
<div class="score-bar">
  <app-timer [game]="game" [room]="room"></app-timer>
  <h4>
    <ion-text color="primary" class="ion-padding-end">{{game.blueAgents}}</ion-text>
    <ion-text color="dark" class="ion-padding-end">-</ion-text>
    <ion-text color="danger">{{game.redAgents}}</ion-text>
  </h4>
  <ion-button
    [class.completed]="!!game.completedAt"
    fill="outline"
    color="medium"
    (click)="endCurrentTeamsTurn()"
    [disabled]="disableEndTurn"
  >
    End Turn
  </ion-button>
</div>

<ion-row class="game-row {{selectedTab}}">
  <!-- team lists on the left -->
  <app-team-lists
    class="team-lists"
    [room]="room"
    [game]="game">
  </app-team-lists>
  <!-- board in the middle -->
  <div class="game-board">
    <app-game-board
      [room]="room"
      [game]="game"
      [currentClue]="currentClue"
      [readonly]="disableGameBoard"
      [spymaster]="spymaster">
    </app-game-board>

    <!-- spymaster clue interface -->
    <app-give-clue
      [game]="game"
      [isMyTurn]="myTurn"
      [currentClueIsFromMyTeam]="currentClueIsFromMyTeam"
      *ngIf="spymaster && !game.completedAt">
    </app-give-clue>
  </div>
  <!-- word history on the right -->
  <app-word-history
    class="word-history"
    [game]="game">
  </app-word-history>
</ion-row>

<!-- spymaster chat -->
<app-chat-box></app-chat-box>