<div class="give-clue">
  <ng-container *ngIf="proposedClue$ | async as proposed; else giveClue">
    <app-clue [clue]="proposed"></app-clue>
    <ion-button
      (click)="clueService.approveClue(game.id, proposed)"
      color="light"
      *ngIf="!isMyTurn"
    >
      Approve
    </ion-button>
    <ion-button
      (click)="clueService.denyClue(game.id, proposed.id)"
      *ngIf="!isMyTurn"
      color="light"
    >
      Deny
    </ion-button>
    <ion-button
      (click)="clueService.cancelClue(game.id, proposed.id)"
      color="light"
      *ngIf="isMyTurn"
    >
      Cancel
    </ion-button>
  </ng-container>
</div>

<ng-template #giveClue>
  <div>
    <input
      class="clue"
      type="text"
      placeholder="Type your clue..."
      [(ngModel)]="clue"
      (keyup.enter)="submitClue()"
    >
    <input
      class="count"
      type="number"
      placeholder="#"
      max="999"
      [(ngModel)]="clueCount"
      (keyup.enter)="submitClue()"
    >
  </div>
  <div>
    <ion-button
      (click)="submitClue()"
      (keyup.enter)="submitClue()"
      color="light"
      [disabled]="disableSubmitButton"
    >
      Give Clue
    </ion-button>
    <ion-button
      (click)="submitClue(true)"
      color="dark"
      [disabled]="disableSubmitButton"
      fill="clear"
      tooltip="Ask other spymaster if this clue is allowed"
    >
      Ask First
    </ion-button>
  </div>
</ng-template>
