<ion-toolbar>
  <ion-title>
    {{ room?.name }} ({{game?.id}})
  </ion-title>
  <div
    slot="secondary"
    class="gameStatus"
    [class.red]="displayedGameStatus === 'Red\'s Turn'"
    [class.blue]="displayedGameStatus === 'Blue\'s Turn'"
  >{{displayedGameStatus}}</div>
  <div
    class="title-bar-end"
    *ngIf="gameInProgress"
    slot="end"
  >
    <span
      [class.red]="loggedInUserTeam === 'RED'"
      [class.blue]="loggedInUserTeam === 'BLUE'"
    >&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span
      class="ion-padding"
      *ngIf="loggedInUserTeam"
    >{{loggedInUserDisplayName}}</span>
    <ion-button
      *ngIf="loggedInUser"
      (click)="logout()"
      color="medium"
    >
      logout
    </ion-button>
  </div>
  <ion-buttons slot="end">
    <app-game-join-button
      *ngIf="showJoinGameButton"
      [room]="room"
      [game]="game"
    >
    </app-game-join-button>
  </ion-buttons>
</ion-toolbar>
