.title-bar-end {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user {
  --ion-color: #fff !important;
  --ion-color-base: #fff !important;
  --ion-color-base-rgb: #fff !important;
}