<ion-toolbar>
  <ion-title>
    {{ room?.name }}
  </ion-title>
  <div
    slot="secondary"
    class="gameStatus"
    [class.red]="displayedGameStatus === 'Red\'s Turn'"
    [class.blue]="displayedGameStatus === 'Blue\'s Turn'"
  >{{displayedGameStatus}}</div>
  <div
    *ngIf="gameInProgress"
    slot="end"
  >
    <span
      [class.red]="loggedInUserTeam === 'RED'"
      [class.blue]="loggedInUserTeam === 'BLUE'"
    >&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span
      *ngIf="loggedInUserTeam"
    > {{loggedInUserDisplayName}}</span>
  </div>
  <ion-buttons slot="end">
    <app-game-join-button
      *ngIf="!gameInProgress"
      [room]="room">
    </app-game-join-button>
  </ion-buttons>
</ion-toolbar>
