<ion-toolbar [color]="toolbarColor">
  <ion-title>
    {{ title }}
  </ion-title>
  <div
    class="title-bar-end"
    *ngIf="gameInProgress"
    slot="end"
  >
    <app-users [userId]="authService.currentUserId"></app-users>
    <ion-button
      *ngIf="authService.authenticated"
      (click)="leave()"
      color="medium"
    >
      Leave
    </ion-button>
  </div>
  <ion-buttons slot="end">
    <app-game-join-button
      *ngIf="showJoinGameButton"
      [room]="room"
      [game]="game"
    >
    </app-game-join-button>
  </ion-buttons>
</ion-toolbar>
