<ion-item class="clue" [color]="color">
  <span class="word">{{clue.word}}</span>
  <span class="guess-count">{{clue.guessCount}}</span>
  <span class="guesses" slot="end">
    <div class="guess-indicator {{tile.role}}" *ngFor="let tile of clue.guessesMade">

      <div class="tooltip" [tooltip]="tile.word" *ngIf="!hasPictureSrc"></div>
      <!-- manually set width here for the tooltip to render in the correct position -->
      <div class="tooltip" [tooltip]="getPictureSrc(tile.word)" width="85" *ngIf="hasPictureSrc"></div>
      <img class="dart" src="../../../assets/{{ tile.dartedBy === 'BLUE' ? 'blue' : 'red' }}-dart.png" *ngIf="tile.dartedBy">
    </div>
  </span>
</ion-item>
