<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Game History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="games-container" *ngIf="games$ | async as games; else loading">
    <app-game-card
      *ngFor="let game of games"
      [game]="game"
      (click)="gameClicked(game)">
    </app-game-card>
  </div>
</ion-content>

<ng-template #loading>
  <div class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>
