<div class="in-game-chat">

  <ion-badge mode="ios" color="danger" *ngIf="messageService.unreadMessages as unread" (click)="messageService.toggleChatShown(true)">
    {{ unread }}
  </ion-badge>

  <div>
    <div #scrollMe
      class="chat-messages-container"
      [class.shown]="messageService.chatShown"
      (click)="toggleChat()"
      *ngIf="messages$ | async as messages"
    >
      <p class="chat-message server-chat-message" *ngIf="!game.completedAt">
        This chat is secret during the game, but becomes visible to all afterward.
      </p>
      <p class="chat-message server-chat-message" *ngIf="game.completedAt && messages.length === 0">
        No messages were sent during this game
      </p>
      <p
        class="chat-message"
        [class.me]="message.userId && message.userId === authService.currentUserId"
        [class.server-chat-message]="message.fromServer"
        *ngFor="let message of messages"
      >
        <span class="inline-color-block {{message.team}}" *ngIf="message.team"></span>
        <app-user
          *ngIf="message.userId"
          [userId]="message.userId"
          [color]="message.team"
          [showUserName]="false"
          [navToScorecard]="messageService.chatShown">
        </app-user>
        {{ message.text}}
      </p>
    </div>
    <input
      class="chatroom-input"
      [class.shown]="messageService.chatShown"
      [placeholder]="placeholder"
      [(ngModel)]="newMessage"
      (keyup.enter)="sendMessage()"
      (keyup.shift.enter)="sendMessage()"
      (click)="messageService.toggleChatShown(true)"
    >
  </div>
</div>