<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-button class="custom-back" [routerLink]="['/']">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ng-container *ngIf="user$ | async as user">
      <ion-title>
        <span *ngIf="user.nickname && user.nickname !== user.name" [tooltip]="user.name">
          {{ user.nickname }}
        </span>
        <span *ngIf="!user.nickname">
          {{ user.name }}
        </span>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="promptForName(user)" *ngIf="isMe">
          <ion-icon name="settings" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-container>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="user$ | async as user; else loading">
    <ng-container *ngIf="user.stats as stats; else noGames">
      <div class="scorecard-container" *ngIf="stats.gamesPlayed > 0; else noGames">

        <!-- stats + chart on the left -->
        <section class="stats-container">

          <!-- chart -->
          <ion-card class="user-card" *ngIf="stats.gamesPlayed > 1">
            <ion-item class="user-item">
              <ion-avatar slot="start">
                <img [src]="user.photoURL">
              </ion-avatar>
              <ion-label>
                {{user.nickname || user.name}}
              </ion-label>
              <ion-button slot="end" (click)="toggleChartLimit()" *ngIf="stats.gamesPlayed > chartLimit">
                {{ chartLimit ? 'Show more' : 'Show less'}}
              </ion-button>
            </ion-item>
            <app-elo-chart [userId]="userId" [limit]="chartLimit"></app-elo-chart>
          </ion-card>

          <!-- versus card -->
          <app-versus *ngIf="!isMe" [myUserId]="authService.currentUserId" [theirUserId]="userId"></app-versus>

          <!-- same team card -->
          <app-same-team *ngIf="!isMe" [myUserId]="authService.currentUserId" [theirUserId]="userId"></app-same-team>

          <!-- overall stats -->
          <ion-card class="user-card">
            <ion-card-header class="space-between">
              <ion-card-title>Overall</ion-card-title>
              <ion-card-subtitle *ngIf="stats.gamesPlayed as games">
                {{ games }} {{ games === 1 ? 'game' : 'games'}}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <h2>Games Won</h2>
                  <h2 slot="end">
                    {{ stats.gamesWon }} <b>({{ (stats.gamesWon / stats.gamesPlayed * 100).toFixed(1) }}%)</b>
                  </h2>
                </ion-item>
                <ion-item>
                  <h2>Last 7 Days</h2>
                  <app-elo-change slot="end" [change]="elo7DaysAgo"></app-elo-change>
                </ion-item>
                <ion-item>
                  <h2>Last 30 Days</h2>
                  <app-elo-change slot="end" [change]="elo30DaysAgo"></app-elo-change>
                </ion-item>
                <ion-item *ngIf="stats.ally">
                  <h2>Ally</h2>
                  <ion-icon name="help-circle-outline" tooltip="The player you have won with the most"></ion-icon>
                  <app-user slot="end" [userId]="stats.ally"></app-user>
                </ion-item>
                <ion-item *ngIf="stats.nemesis">
                  <h2>Nemesis</h2>
                  <ion-icon name="help-circle-outline" tooltip="The player you have lost against the most"></ion-icon>
                  <app-user slot="end" [userId]="stats.nemesis"></app-user>
                </ion-item>
                <ng-container *ngFor="let stat of overallStats">
                  <ion-item *ngIf="stats[stat.field] !== undefined">
                    <h2>{{ stat.title }}</h2>
                    <h2 slot="end">{{ stats[stat.field] }}</h2>
                  </ion-item>
                </ng-container>
              </ion-list>
            </ion-card-content>
          </ion-card>

          <!-- spymaster stats -->
          <ion-card class="user-card" *ngIf="stats.spymasterGames">
            <ion-card-header class="space-between">
              <ion-card-title>As Spymaster</ion-card-title>
              <ion-card-subtitle *ngIf="stats.spymasterGames as games">
                {{ games }} {{ games === 1 ? 'game' : 'games'}}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <h2>Games Won</h2>
                  <h2 slot="end">
                    {{ stats.spymasterWins }} <b>({{ (stats.spymasterWins / stats.spymasterGames * 100).toFixed(1) }}%)</b>
                  </h2>
                </ion-item>
                <ion-item>
                  <h2>Lead to Assassin</h2>
                  <h2 slot="end">
                    {{ stats.assassinsAsSpymaster }} <b>({{ (stats.assassinsAsSpymaster / stats.spymasterGames * 100).toFixed(1) }}%)</b>
                  </h2>
                </ion-item>
                <ng-container *ngFor="let stat of spymasterStats">
                  <ion-item *ngIf="stats[stat.field] !== undefined">
                    <h2>{{ stat.title }}</h2>
                    <h2 slot="end">{{ stats[stat.field] }}</h2>
                  </ion-item>
                </ng-container>
              </ion-list>
            </ion-card-content>
          </ion-card>

          <!-- Game Type Breakdown -->
          <ng-container *ngIf="gameTypeBreakdownDisplay$ | async as breakdowns">
            <ion-card class="user-card">
              <ion-card-header>
                <ion-card-title>Game Type Breakdown</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item *ngFor="let type of breakdowns">
                    <div class="breakdown-row">
                      <div class="breakdown-label">{{ type.key }}</div>
                      <div class="breakdown-bar-bg">
                        <div class="breakdown-bar-fill" [ngStyle]="{ width: type.barWidth + '%' }"></div>
                        <span class="breakdown-bar-text">
                          {{ type.won }} / {{ type.played }} ({{ (type.percent * 100) | number:'1.0-1' }}%)
                        </span>
                      </div>
                    </div>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ng-container>
        </section>

        <!-- recent games on the right -->
        <section class="games-container">
          <ng-container *ngIf="recentGames$ | async as games; else loading">
            <ng-container *ngIf="games.length > 0">
              <h3>Recent Games</h3>
              <app-game-card [game]="game" [showRoom]="true" *ngFor="let game of games"></app-game-card>
            </ng-container>
          </ng-container>
        </section>

      </div>
    </ng-container>
  </ng-container>
</ion-content>

<ng-template #noGames>
  <div class="empty-container">
    <h3>No games played yet!</h3>
  </div>
</ng-template>

<ng-template #loading>
  <div class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>
