// Ionic adds a “can-go-back” class to the page which the
// ionic-back-button uses this to determine if it should
// be visible. Hide our custom back in that case
::ng-deep .can-go-back .custom-back {
  visibility: hidden;
  display: none;
}

.scorecard-container {
  display: flex;
  justify-content: space-around;
  max-width: 1300px;
  margin: auto;

  .user-card {
    width: 600px;
    margin: 20px auto;
  }

  .games-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;

    h3 {
      width: 100%;
      text-align: left;
    }

    app-game-card {
      width: 600px;
      max-width: 100%;
    }
  }
}