<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="user$ | async as user">
      {{user.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="user-card" *ngIf="user$ | async as user; else loading">
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="user.photoURL">
      </ion-avatar>
      <ion-label>
        {{user.name}}
      </ion-label>
    </ion-item>
    <ion-card-content *ngIf="user.stats">
      <ion-list>
        <ion-item *ngIf="user.stats.currentStreak >= 0">
          <h2>Current Streak</h2>
          <h2 slot="end">{{user.stats.currentStreak}}</h2>
        </ion-item>
        <ion-item *ngIf="user.stats.gamesPlayed >= 0">
          <h2>Games Played</h2>
          <h2 slot="end">{{user.stats.gamesPlayed}}</h2>
        </ion-item>
        <ion-item *ngIf="user.stats.gamesWon >= 0">
          <h2>Games Won</h2>
          <h2 slot="end">{{user.stats.gamesWon}}</h2>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ng-template #loading>
  <div class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>
