<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-button class="custom-back" [routerLink]="['/']">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="user$ | async as user">
      {{user.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="user$ | async as user; else loading">
    <ng-container *ngIf="user.stats as stats; else empty">
      <div class="scorecard-container">

        <!-- stats + chart on the left -->
        <section class="stats-container">

          <!-- chart -->
          <ion-card class="user-card" *ngIf="stats.gamesPlayed > 1">
            <ion-item>
              <ion-avatar slot="start">
                <img [src]="user.photoURL">
              </ion-avatar>
              <ion-label>
                {{user.name}}
              </ion-label>
            </ion-item>
            <app-elo-chart [userId]="userId"></app-elo-chart>
          </ion-card>

          <!-- overall stats -->
          <ion-card class="user-card">
            <ion-card-header class="space-between">
              <ion-card-title>Overall</ion-card-title>
              <ion-card-subtitle *ngIf="stats.gamesPlayed as games">
                {{ games }} {{ games === 1 ? 'games' : 'games'}}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <h2>Games Won</h2>
                  <h2 slot="end">
                    {{ stats.gamesWon }} <b>({{ (stats.gamesWon / stats.gamesPlayed * 100).toFixed(1) }}%)</b>
                  </h2>
                </ion-item>
                <ng-container *ngFor="let stat of overallStats">
                  <ion-item *ngIf="stats[stat.field] !== undefined">
                    <h2>{{ stat.title }}</h2>
                    <h2 slot="end">{{ stats[stat.field] }}</h2>
                  </ion-item>
                </ng-container>
              </ion-list>
            </ion-card-content>
          </ion-card>

          <!-- spymaster stats -->
          <ion-card class="user-card" *ngIf="stats.spymasterGames">
            <ion-card-header class="space-between">
              <ion-card-title>As Spymaster</ion-card-title>
              <ion-card-subtitle *ngIf="stats.spymasterGames as games">
                {{ games }} {{ games === 1 ? 'games' : 'games'}}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <h2>Games Won</h2>
                  <h2 slot="end">
                    {{ stats.spymasterWins }} <b>({{ (stats.spymasterWins / stats.spymasterGames * 100).toFixed(1) }}%)</b>
                  </h2>
                </ion-item>
                <ion-item>
                  <h2>Lead to Assassin</h2>
                  <h2 slot="end">
                    {{ stats.assassinsAsSpymaster }} <b>({{ (stats.assassinsAsSpymaster / stats.spymasterGames * 100).toFixed(1) }}%)</b>
                  </h2>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </section>

        <!-- recent games on the right -->
        <section class="games-container">
          <ng-container *ngIf="recentGames$ | async as games; else loading">
            <ng-container *ngIf="games.length > 0">
              <h3>Recent Games</h3>
              <app-game-card [game]="game" *ngFor="let game of games"></app-game-card>
            </ng-container>
          </ng-container>
        </section>

      </div>
    </ng-container>
  </ng-container>
</ion-content>

<ng-template #empty>
  <div class="empty-container">
    <h3>Nothing to see here!</h3>
  </div>
</ng-template>

<ng-template #loading>
  <div class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>
