<!-- If the game isn't in progress, show all users *ngIf="blueTeamUsers.length === 0 || redTeamUsers.length === 0"-->
{{ room?.status }}
<div *ngIf="room && room.status === 'PREGAME'">
  <ion-list>
    <ion-list-header>
      <ion-label>
        <h1>Players</h1>
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let userId of room.userIds">
      <app-users [userId]="userId"></app-users>
    </ion-item>
    <ion-button (click)="assignUsersToRandomTeams()">
      Assign Teams
    </ion-button>
  </ion-list>
</div>
<div *ngIf="room && room.status === 'ASSIGNING_ROLES' && game">
  <h1>Assign A Spymaster</h1>
  <ion-list class="red-team">
    <ion-list-header>
      <ion-label>
        <h2>Red Team</h2>
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let redUser of game.redTeam.userIds">
      <app-users [userId]="redUser"></app-users>
      <button (click)="assignSpymaster(redUser)"></button>
    </ion-item>
  </ion-list>
  <br/>
  <ion-list>
    <ion-list-header>
      <ion-label>
        <h2>Blue Team</h2>
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let redUser of game.blueTeam.userIds">
      <app-users [userId]="redUser"></app-users>
    </ion-item>
  </ion-list>
</div>
