<!-- If the game isn't in progress, show all users *ngIf="blueTeamUsers.length === 0 || redTeamUsers.length === 0"-->
<div *ngIf="room && room.status === 'PREGAME'">
  <ion-list>
    <ion-list-header>
      <ion-label>
        <h1>Players</h1>
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let userId of room.userIds">
      <app-users [userId]="userId"></app-users>
    </ion-item>
    <ion-button (click)="assignUsersToRandomTeams()">
      Assign Teams
    </ion-button>
  </ion-list>
</div>
<!--<div *ngIf="room && room.status !== 'PREGAME">-->
<!--  <ion-list>-->
<!--    <ion-list-header>-->
<!--      <ion-label>-->
<!--        <h1>Red Team</h1>-->
<!--      </ion-label>-->
<!--    </ion-list-header>-->
<!--    <ion-item *ngFor="let userId of room.userIds">-->
<!--      <app-users [userId]="userId"></app-users>-->
<!--    </ion-item>-->
<!--    <ion-button (click)="assignUsersToRandomTeams()">-->
<!--      Assign Teams-->
<!--    </ion-button>-->
<!--  </ion-list>-->
<!--</div>-->
