<div *ngIf="room && room.status === 'PREGAME'">
  <ion-list>
    <ion-list-header>
      <ion-label>
        <h1>Players</h1>
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let userId of room.userIds">
      <app-users [userId]="userId"></app-users>
    </ion-item>
    <ion-button [disabled]="room.userIds.length < 2" (click)="assignUsersToRandomTeams()">
      Assign Teams
    </ion-button>
  </ion-list>
</div>
<div class="assign-spymaster" *ngIf="room && room.status === 'ASSIGNING_ROLES' && game">
  <h1>Assign Spymaster</h1>
  <app-team-lists
    [room]="room"
    [game]="game"
    [setSpymaster]="true">
  </app-team-lists>
  <div *ngIf="game.redTeam.spymaster && game.blueTeam.spymaster">
    <ion-button (click)="startGame()">Start Game</ion-button>
  </div>
</div>
