.title {
  font-family: Courier New,monospace;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: .2em;
  padding-left: 20px;
  cursor: pointer;
}

.footer {
  font-family: Courier New,monospace;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: .2em;
}

ion-menu-toggle ion-item {
  font-family: Courier New,monospace;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: .2em;
}
