<div>
  <ion-grid class="grid-container" [class.greyscale]="shouldGreyscale">
    <div class="tile-container" *ngFor="let tile of tiles">
      <ion-button
        [class.spymaster]="spymaster"
        [class.selected]="tile.selected"
        [class.readonly]="readonly"
        [class.pictures]="game.hasPictures"
        [class.emojis]="game.hasEmojis"
        [class.meme-picture]="game.gameType == GameType.MEMES"
        [color]="getColor(tile)"
        class="word {{ spymaster || game.completedAt ? tile.role : '' }}"
        (click)="selectTile(tile)"
      >
        <ng-container [ngSwitch]="type">
          <span *ngSwitchCase="GameType.WORDS">{{ tile.word }}</span>
          <span class="legacy-emojis" *ngSwitchCase="GameType.LEGACY_EMOJIS">
            {{ tile.word }}
          </span>
          <span *ngSwitchDefault>
            <ion-img [src]="getPictureSrc(tile.word)"></ion-img>
          </span>
        </ng-container>
      </ion-button>

      <img class="dart" src="../../../assets/{{ tile.dartedBy === 'BLUE' ? 'blue' : 'red' }}-dart.png" *ngIf="tile.dartedBy">
    </div>
  </ion-grid>
  <ion-row class="advice-row" *ngIf="!isObserver">
    <h4>{{advice}}</h4>
  </ion-row>
</div>
