.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;

  .tile-container {
    position: relative;
    margin: 0 2px;

    ion-button.word {
      max-height: 90px;
      height: 18vw;
      border-radius: 4px;
      width: 100%;

      // better warning color
      --ion-color-warning: #bbb29f;

      // make dark mode assassin clearer
      --ion-color-dark: #000;
      --ion-color-dark-contrast: #fff;

      // less padding
      --padding-start: 5px;
      --padding-end: 5px;

      &.selected,
      &.spymaster,
      &.readonly {
        pointer-events: none;
      }

      // the role of the tile will be revealed to the spymaster
      // or to all players at the end of the game
      &:not(.selected) {
        &.RED {
          --ion-color-contrast: var(--ion-color-danger) !important;
          &.pictures,
          &.emojis {
            border: 4px solid var(--ion-color-danger);
          }
        }
        &.BLUE {
          --ion-color-contrast: var(--ion-color-primary) !important;
          &.pictures,
          &.emojis {
            border: 4px solid var(--ion-color-primary);
          }
        }
        &.ASSASSIN {
          --ion-color-base: #888 !important;
        }
      }

      &.pictures {
        max-height: 130px;
        height: 16vw;
      }

      // First gen of the emojis word list was the unicode characters, but
      // emojis look differently across platforms so we moved to images
      // This line makes the old games still render nicely
      .legacy-emojis {
        font-size: 60px;
      }
    }

    .dart {
      position: absolute;
      z-index: 999;
      left: 50%;
      bottom: calc(50% + 12px);
      width: 100px;
    }
  }
}

.advice-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 550px) {
  .grid-container {
    grid-gap: 0px;

    ion-button.word {
      font-size: 2.5vw;
      border-width: 2px !important;
    }
  }
}
