<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="optional"></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Game Detail</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" fill="clear" (click)="deleteGame()" *ngIf="canDelete">
        Delete
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="game; else loading">
    <app-game
      *ngIf="game.exists; else deleted"
      [game]="game">
    </app-game>
  </ng-container>
</ion-content>

<ng-template #loading>
  <div class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>

<ng-template #deleted>
  <div class="spinner-container">
    <h3>This game was deleted</h3>
    <ion-button (click)="restoreGame()">Restore Game</ion-button>
  </div>
</ng-template>