<ion-content [fullscreen]="true">
  <div id="home-container">
    <div class="new-game-container">
      <h1 class="title">CODETANGO</h1>
      <p class="description">
        Play Codenames online across multiple devices on a shared board. To create a new game or join an existing game, enter a game identifier and click 'GO'.
      </p>
      <div class="input-container">
        <ion-input class="create-input" [(ngModel)]="roomName" (keyup.enter)="createRoom()"></ion-input>
        <button class="create-button" (click)="createRoom()" [disabled]="!roomName">
          {{ buttonAction }}
        </button>
      </div>
    </div>
  </div>
</ion-content>
