#home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .new-game-container {
    max-width: 550px;

    .title {
      font-family: Courier New,monospace;
      text-transform: uppercase;
      letter-spacing: .2em;
      text-align: center;
      font-size: 50px;
      font-weight: bold;
      margin: 50px 10px;
    }

    .description {
      font-size: 20px;
    }

    .input-container {
      display: flex;
      justify-content: center;

      input {
        height: 62px;
        width: 350px;
        padding: 5px 10px;
        font-size: 1.3em;
        border: 1px solid #ddd;
        border-right: none;
        letter-spacing: .1em;
      }

      .create-button {
        height: 62px;
        width: 120px;
        padding: 5px 10px;
        background: #e1f4d0;
        border: 1px solid #ddd;
        font-size: 1em;
        vertical-align: top;
      }
    }
  }
}