<ion-content [fullscreen]="true">
  <div class="home-container">
    <div class="new-game-container">
      <h1 class="title">CODETANGO</h1>
      <p class="description">
        Play Codenames online across multiple devices on a shared board. To create a new room or join an existing room, enter a room identifier and click 'GO'.
      </p>
      <div class="input-container">
        <ion-input class="create-input" [(ngModel)]="roomName" (keyup.enter)="createRoom()"></ion-input>
        <button class="create-button" (click)="createRoom()" [disabled]="disabled">
          GO
        </button>
      </div>
    </div>
  </div>
</ion-content>
