.team-title {
  display: flex;
  align-items: center;
  height: 36px;

  .team-score {
    padding: 4px 8px;
    border-radius: 8px;
    color: #fff;
    margin-right: 8px;

    &.blue {
      background: var(--ion-color-primary);
    }
    &.red {
      background: var(--ion-color-danger);
    }
  }

  ion-button {
    margin-left: 25px;
  }
}
.team-member {
  display: flex;
  align-items: center;

  .spy {
    width: 32px;
    font-size: 28px;
  }
}