<div class="ion-padding-start" *ngIf="game">
  <h3 class="team-title">
    Blue Team
    <ion-button
      color="primary"
      size="small"
      (click)="joinTeam('blueTeam')"
      *ngIf="showJoinButton('blueTeam')">
      Join
    </ion-button>
  </h3>
  <div class="team-member" *ngFor="let member of game.blueTeam.userIds">
    <div class="spy">
      <span *ngIf="game.blueTeam.spymaster === member">🕵</span>
    </div>
    <app-user
      [navToScorecard]="!setSpymaster"
      [userId]="member"
      color="blue"
      (click)="userClicked(member, 'blueTeam')">
    </app-user>
  </div>
  <h3 class="team-title">
    Red Team
    <ion-button
      color="danger"
      size="small"
      (click)="joinTeam('redTeam')"
      *ngIf="showJoinButton('redTeam')">
      Join
    </ion-button>
  </h3>
  <div class="team-member" *ngFor="let member of game.redTeam.userIds">
    <div class="spy">
      <span *ngIf="game.redTeam.spymaster === member">🕵</span>
    </div>
    <app-user
      [navToScorecard]="!setSpymaster"
      [userId]="member"
      color="red"
      (click)="userClicked(member, 'redTeam')">
    </app-user>
  </div>
</div>
