.team-title {
  display: flex;
  align-items: center;
  height: 36px;

  ion-button {
    margin-left: 25px;
  }
}
.team-member {
  display: flex;
  align-items: center;

  .spy {
    width: 32px;
    font-size: 28px;
  }
}