<div class="ion-padding-start" *ngIf="game">
  <h3>Blue Team</h3>
  <div class="team-member" *ngFor="let member of game.blueTeam.userIds">
    <div class="spy">
      <span *ngIf="game.blueTeam.spymaster === member">🕵</span>
    </div>
    <app-user
      [navToScorecard]="!setSpymaster"
      [userId]="member"
      color="blue"
      (click)="userClicked(member, 'blueTeam')">
    </app-user>
  </div>
  <ion-button
    size="small"
    (click)="joinTeam('blueTeam')"
    *ngIf="showJoinButton('blueTeam')">
    Join Blue
  </ion-button>
  <h3>Red Team</h3>
  <div class="team-member" *ngFor="let member of game.redTeam.userIds">
    <div class="spy">
      <span *ngIf="game.redTeam.spymaster === member">🕵</span>
    </div>
    <app-user
      [navToScorecard]="!setSpymaster"
      [userId]="member"
      color="red"
      (click)="userClicked(member, 'redTeam')">
    </app-user>
  </div>
  <ion-button
    size="small"
    (click)="joinTeam('redTeam')"
    *ngIf="showJoinButton('redTeam')">
    Join Red
  </ion-button>
</div>
