<ion-card class="game-card" (click)="gameClicked()">
  <ion-card-header class="space-between">
    <div>
      <ion-card-title>
        {{ completedAt.date }}
      </ion-card-title>
      <ion-card-subtitle>
        {{ completedAt.time }}
        <span class="room-name" (click)="goToRoom($event)" *ngIf="showRoom">
          <span class="separator">&#183;</span>
          {{ game.roomId }}
        </span>
      </ion-card-subtitle>
    </div>
    <div>
      <ion-card-subtitle class="game-status" [color]="status.color">
        {{ status.text }}
      </ion-card-subtitle>
      <ion-card-title class="agents">
        <ion-icon name="skull" [tooltip]="assassinExplanation" *ngIf="assassin"></ion-icon>
        <ion-text color="danger" *ngIf="!blueWon">{{ game.redAgents }}</ion-text>
        <ion-text color="primary" *ngIf="blueWon">{{ game.blueAgents }}</ion-text>
        <ion-text>-</ion-text>
        <ion-text color="danger" *ngIf="blueWon">{{ game.redAgents }}</ion-text>
        <ion-text color="primary" *ngIf="!blueWon">{{ game.blueAgents }}</ion-text>
      </ion-card-title>
    </div>
  </ion-card-header>
  <ion-card-content>
    <app-game-board
      [game]="game"
      [readonly]="true"
      [spymaster]="false">
    </app-game-board>
    <div class="lineups">
      <div class="team-lineup">
        <app-user
          *ngFor="let id of game.redTeam.userIds"
          [userId]="id"
          [showUserName]="false"
          color="red">
        </app-user>
      </div>
      <span class="versus">VS</span>
      <div class="team-lineup">
        <app-user
          *ngFor="let id of game.blueTeam.userIds"
          [userId]="id"
          [showUserName]="false"
          color="blue">
        </app-user>
      </div>
    </div>
  </ion-card-content>
</ion-card>