.game-card {
  cursor: pointer;
  margin: 20px 0;

  .game-status {
    text-transform: uppercase;
  }

  .lineups {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .team-lineup {
      display: flex;
      width: 40%;
      flex-wrap: wrap;

      &:first-of-type {
        flex-direction: row-reverse;
      }
    }
    .versus {
      font-size: 24px;
      text-transform: uppercase;
      font-style: italic;
    }
  }
}

@media (max-width: 650px) {
  .game-card {
    ion-card-content {
      padding-left: 0;
      padding-right: 0;
    }

    .lineups .team-lineup {
      justify-content: center;
    }
  }
}