<ion-card class="game-card" (click)="gameClicked()">
  <ion-card-header class="space-between">
    <div>
      <ion-card-title>
        {{ completedAt.date }}
      </ion-card-title>
      <ion-card-subtitle>
        {{ completedAt.time }}
      </ion-card-subtitle>
    </div>
    <ion-card-subtitle class="game-status" [color]="status.color">
      {{ status.text }}
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <app-game-board
      [game]="game"
      [readonly]="true"
      [spymaster]="false">
    </app-game-board>
    <div class="lineups">
      <div class="team-lineup">
        <app-user
          *ngFor="let id of game.redTeam.userIds"
          [userId]="id"
          [showUserName]="false"
          color="red">
        </app-user>
      </div>
      <span class="versus">VS</span>
      <div class="team-lineup">
        <app-user
          *ngFor="let id of game.blueTeam.userIds"
          [userId]="id"
          [showUserName]="false"
          color="blue">
        </app-user>
      </div>
    </div>
  </ion-card-content>
</ion-card>