<div class="user-container">
  <ion-chip
    [class.avatar-only]="!showUserName"
    [class.you]="you"
    [color]="getColor"
    [outline]="shouldOutline"
    (click)="goToUser($event)"
  >
    <ng-container *ngIf="user$ | async as user; else loading">

      <!-- hovering on the avatar shows their full name in a tooltip -->
      <ion-avatar [tooltip]="userTemplate" content-type="template" *ngIf="!showUserName && navToScorecard; else noTooltip">
        <ion-img [src]="user.photoURL"></ion-img>
      </ion-avatar>

      <!-- unless show username is on or navToScorecard is off, then no tooltip -->
      <ng-template #noTooltip>
        <ion-avatar><ion-img [src]="user.photoURL"></ion-img></ion-avatar>
      </ng-template>

      <ion-label *ngIf="showUserName">{{user.nickname || user.name}}</ion-label>

    </ng-container>
  </ion-chip>

  <app-actions-popover [actions]="actions" *ngIf="showActions"></app-actions-popover>
</div>

<ng-template #loading>
  <ion-label *ngIf="showUserName; else spinner">
    <ion-skeleton-text [ngStyle]="style" animated></ion-skeleton-text>
  </ion-label>
</ng-template>

<ng-template #spinner>
  <ion-spinner
    color="medium"
    name="lines-small">
  </ion-spinner>
</ng-template>

<ng-template #userTemplate>
  <app-user [userId]="userId" [color]="color"></app-user>
</ng-template>