<ng-container>
  <ion-chip
    [class.avatar-only]="!showUserName"
    [class.you]="you"
    [color]="getColor"
    [outline]="shouldOutline"
    (click)="goToUser($event)"
  >
    <ng-container *ngIf="user$ | async as user; else loading">
      <ion-avatar [tooltip]="userTemplate" content-type="template" [display]="!showUserName">
        <ion-img [src]="user.photoURL"></ion-img>
      </ion-avatar>
      <ion-label *ngIf="showUserName">{{user.name}}</ion-label>
    </ng-container>
  </ion-chip>
</ng-container>

<ng-template #loading>
  <ion-label *ngIf="showUserName; else spinner">
    <ion-skeleton-text [ngStyle]="style" animated></ion-skeleton-text>
  </ion-label>
</ng-template>

<ng-template #spinner>
  <ion-spinner
    color="medium"
    name="lines-small">
  </ion-spinner>
</ng-template>

<ng-template #userTemplate>
  <app-user [userId]="userId" [color]="color"></app-user>
</ng-template>