.room-container {
  padding-bottom: 20px;

  .bottom-buttons {
    display: flex;
    justify-content: center;
  }
}

ion-toolbar {
  .title-bar-end {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user {
    --ion-color: #fff !important;
    --ion-color-base: #fff !important;
    --ion-color-base-rgb: #fff !important;
  }
}

ion-footer {
  display: none;
}

.show-small {
  display: none !important;
}

@media (max-width: 1040px) {
  ion-footer {
    display: initial;
  }
}

@media (max-width: 550px) {
  .show-small {
    display: initial !important;
  }
  .hide-small {
    display: none !important;
  }
}