<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ room?.name }}
    </ion-title>
    <ion-buttons slot="end">
      <app-game-join-button></app-game-join-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="room; else loading">

    <!-- we're in a lobby waiting for players -->
    <ng-container *ngIf="pregaming">
      <app-teams [room]="room"></app-teams>
    </ng-container>

    <!-- there is a game in progress -->
    <ng-container *ngIf="gameInProgress">
      <ng-container *ngIf="currentGame$ | async as game">
        <app-game [room]="room" [game]="game"></app-game>
      </ng-container>
    </ng-container>

  </ng-container>

  <ng-template #loading>
    <div class="spinner-container">
      <ion-spinner></ion-spinner>
    </div>
  </ng-template>
</ion-content>
