<ion-header>
  <app-title-bar
    [room]="room"
    [game]="currentGame$ | async"
  ></app-title-bar>
</ion-header>

<ion-content>
  <div class="room-container" *ngIf="room; else loading">

    <!-- we're in a lobby waiting for players and assigning teams -->
    <ng-container *ngIf="!gameInProgress">
      <app-pregame [room]="room" [game]="currentGame$ | async"></app-pregame>
    </ng-container>

    <!-- there is a game in progress or it just ended -->
    <ng-container *ngIf="gameInProgress">
      <ng-container *ngIf="currentGame$ | async as game">
        <app-game
          [game]="game"
          [room]="room"
          [selectedTab]="selectedTab"
          [currentClue]="currentClue$ | async">
        </app-game>
      </ng-container>
    </ng-container>

  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="gameInProgress">
    <ion-fab-button color="medium" size="small">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top" *ngIf="currentGame$ | async as game">
      <ion-fab-button tooltip="Next Game" (click)="nextGame(game)">
        <ion-icon name="play-skip-forward-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button tooltip="New Teams" (click)="backToLobby(game)">
        <ion-icon name="people-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer *ngIf="gameInProgress">
  <ion-segment [value]="selectedTab" (click)="selectTab($event.target.value)">
    <ion-segment-button value="board-tab">
      <ion-label>Board</ion-label>
    </ion-segment-button>
    <ion-segment-button value="teams-tab">
      <ion-label>Teams</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-footer>

<ng-template #loading>
  <div class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>