.room-container {
  padding-bottom: 20px;

  .bottom-buttons {
    display: flex;
    justify-content: center;
  }
}

ion-footer {
  display: none;
}

@media (max-width: 830px) {
  ion-footer {
    display: initial;
  }
}