<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="room$ | async as room">
      {{ room.name }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="room$ | async as room">

    <!-- we're in a lobby waiting for players -->
    <ng-container *ngIf="room.status === 'PREGAME'; else gameInProgress">
      <app-teams></app-teams>
    </ng-container>

    <!-- there is a game in progress -->
    <ng-template #gameInProgress>
      <ng-container *ngIf="currentGame$ | async as game">
        <app-game [room]="room" [game]="game"></app-game>
        <app-clues></app-clues>
      </ng-container>
    </ng-template>

  </ng-container>
</ion-content>
