.bar-chart {
  display: flex;
  height: 40px;
  width: 100%;
  margin: 10px 0;
  border-radius: 4px;
  overflow: hidden;

  .wins, .losses {
    height: 100%;
    min-width: 28px;
    display: flex;
    align-items: center;
    color: var(--ion-color-light);
    font-weight: bold;
    padding: 0 10px;
  }

  .wins {
    background: var(--ion-color-primary);
  }
  .losses {
    background: var(--ion-color-danger);
    justify-content: flex-end;
  }
}

.win-loss-bar {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}