<div>
  <h3 class="ion-padding-start">
    Clues
  </h3>
  <div *ngIf="clues$ | async as clues; else loading">
    <!-- the live clue renders in the banner above the board instead; it
         joins this stack once its turn is over -->
    <app-clue
      *ngFor="let clue of visibleClues(clues); trackBy: trackByClue"
      [clue]="clue"
      [assetUrlPattern]="game.assetUrlPattern"
      >
    </app-clue>
    <ion-item *ngIf="visibleClues(clues).length === 0">
      No clues given yet!
    </ion-item>
  </div>
</div>

<ng-template #loading>
  <div class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>
