<div>
  <ion-title>
    Clues
  </ion-title>
  <ion-list *ngIf="clues$ | async as clues; else loading">
    <ion-item *ngFor="let clue of clues" [color]="getColor(clue)">
      <ion-label class="uppercase">{{clue.word}}</ion-label>
      <span slot="end">{{clue.guessCount}}</span>
    </ion-item>
    <ion-item *ngIf="clues.length === 0">
      No clues given yet!
    </ion-item>
  </ion-list>
</div>

<ng-template #loading>
  <div class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</ng-template>
