<div>
  <ion-item>
    <ion-label for="clue-input"> Clue: </ion-label>
    <ion-input name="clue-input"
               type="text"
               placeholder="CODETANGO"
               (keyup.enter)="submitClue()"
               [(ngModel)]="clue">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label for="clue-count-input"> Clue Count: </ion-label>
    <ion-input name="clue-count-input"
               type="number"
               max="999"
               placeholder="8"
               (keyup.enter)="submitClue()"
               [(ngModel)]="clueCount">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-button name="give-clue-button"
                (click)="submitClue()"
                (keyup.enter)="submitClue()"
                color="primary"
                [disabled]="disableSubmitButton">
      {{submitClueButtonText}}
    </ion-button>
  </ion-item>
</div>
